/**
 * theme variables
 */

$body-bg-color: #E0F7FA;
$top-nav-bg-color: #006064;
$navbar-color: #fff;
$primary-hover: #00838F;
$primary-disabled: #0097A7;
$light-action-bg: #E0F7FA;
$neutral-action-bg: #009688;
$light-border: #e7eaec;